{{video-player src=src width=width height=height currentTime=currentTime}}

<h3>Comments</h3>
<ul>
  {{#each comment in comments}}
  <li {{action "scrollTo" comment.time}}>
    <strong>{{comment.name}}</strong> - {{comment.comment}}
  </li>
  {{/each}}
</ul>

<button {{action "scrollTo" 10}}>10</button>
<button {{action "scrollTo" 20}}>20</button>
<button {{action "scrollTo" 30}}>30</button>

<strong>Duration: {{duration}}</strong>

{{input type="number" value=currentTime min="0" max=duration}}