<h1 class="current-time-logger">Current Time: {{cursor}}</h1>
<div class="video-backsplash">
  <div class="video-inner">
    {{video-player src=src width=width height=height startAt=startAt cursor=cursor responsive=true autoplay=false}}
  </div>
</div>

{{!-- start the video without the on="submit" here. Then show how weird theings --}}
{{!-- happen when you submit the form then click it again --}}
{{!-- that's because it's happening on the click action --}}
{{!-- so then add the on="submit" action--}}
<div class="new-comment-form">
  <form {{action "createComment" on="submit"}}>
    {{input type="text" name="newComment" value=newComment}}
    <button>Submit Comment</button>
  </form>
</div>

<div class="comments-container">
<h3>Comments</h3>
  <ul>
    {{#each comment in comments}}
    <li {{action "scrollTo" comment.time}}>
      <strong>{{comment.name}}</strong> - {{comment.comment}} - <small>@ {{comment.time}} secs</small>
    </li>
    {{/each}}
  </ul>
</div>